*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f1faee;
}

body {
  display: flex;
  justify-content: center;
  background-color: #a8dadc;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 2rem;
  background-color: #1d3557;
}

.name {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.racetype {
  padding: 1rem;
}

.credentials {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.agegroup {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}

button {
  background-color: #e63946;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-weight: bold;
}

button:hover {
  background-color: white;
  color: #e63946;
  font-weight: bold;
}

button:active {
  background-color: lightgrey;
}

input {
  max-width: 15rem;
  padding: 0.25rem;
  border-radius: 5px;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  background-color: #a8dadc;
}

select {
  padding: 0.5rem 0.7rem;
  background-color: #457b9d;
  border-radius: 5px;
  max-width: 10rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.radio {
  margin-right: 0.5rem;
}

.line {
  background-color: #457b9d;
  width: 80%;
  height: 1px;
  margin: 0.5rem auto;
}
