.tr1 {
  width: 400px;
  height: 400px;
  background-color: blue;
}

.tr1:hover {
  background-color: purple;
  border-radius: 50%;
  transition: 2s 1s;
  transition-timing-function: ease-in-out;
}

.tr2 {
  width: 200px;
  height: 200px;
  background-color: yellow;
  color: black;
}

.tr2:hover {
  width: 200px;
  height: 400px;
  background-color: black;
  color: yellow;
  transition: 1.5s;
}

.tr3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  transition: 2s;
}

.tr3:hover {
  margin-left: 200px;
  background-color: blue;
  transition: 2s;
}

button {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1rem 2rem;
  font-size: 1rem;
}

button:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5rem 0.5rem -0.4rem #f1ff5c;
  transform: translateY(-0.15rem);
  transition: all 0.35s;
  cursor: pointer;
}

.buttoncontainer {
  padding: 3rem;
  padding-left: 1rem;
  background-color: #151b29;
  margin: 2rem 0px;
  display: flex;
  justify-content: center;
}

button:active {
  transform: translateY(0rem);
  box-shadow: 0 0.5rem 0.5rem -0.5rem #4c5026;
  border-radius: 5px;
  transition: all 0.25s;
}
